<div id="carouselExample" class="carousel slide poster-carousel mt-4" data-bs-ride="carousel">

    <div class="carousel-inner rounded shadow">

        <div class="carousel-item active">
            <img src="{{ url_for('static', filename='images/gallery3.png') }}"
                 class="d-block w-100 poster-slider-img"
                 alt="Event Banner">
        </div>

        <div class="carousel-item">
            <img src="{{ url_for('static', filename='images/gallery1.jpg') }}"
                 class="d-block w-100 poster-slider-img"
                 alt="Gallery Image 1">
        </div>

        <div class="carousel-item">
            <img src="{{ url_for('static', filename='images/gallery2.png') }}"
                 class="d-block w-100 poster-slider-img"
                 alt="Gallery Image 2">
        </div>

    </div>

    <button class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="prev">

        <span class="carousel-control-prev-icon"></span>

    </button>

    <button class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="next">

        <span class="carousel-control-next-icon"></span>

    </button>

</div>