{% extends "base.html" %}

{% block title %}
Vandurai Events
{% endblock %}

{% block content %}

{% set before_priority_promotions = promotions|selectattr('show_before_priority')|list %}
{% set after_priority_promotions = promotions|rejectattr('show_before_priority')|list %}
{% if before_priority_promotions %}
    {% set carousel_promotions = before_priority_promotions %}
    {% set carousel_id = 'promotionCarouselBefore' %}
    {% include "partials/slider.html" %}
{% endif %}

{% include "partials/hero.html" %}

{% include "partials/announcements.html" %}

{% include "partials/latest_events.html" %}

{% if after_priority_promotions %}
    {% set carousel_promotions = after_priority_promotions %}
    {% set carousel_id = 'promotionCarouselAfter' %}
    {% include "partials/slider.html" %}
{% endif %}

{% include "partials/statistics.html" %}

{% include "partials/gallery.html" %}

{% include "partials/contact.html" %}

{% endblock %}
